{% extends "BatteryBackendBundle::base.html.twig" %}

{% block content -%}
    <h1>LifeTime list</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Battery</th>
                <th>Consumer</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.battery.name }}</td>
                <td>{{ entity.consumer.name }}</td>
                <td>{% if entity.dateStart %}{{ entity.dateStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.dateEnd %}{{ entity.dateEnd|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a href="{{ path('lifetime_edit', { 'id': entity.id }) }}" class="btn btn-success btn-xs">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lifetime_new') }}" class="btn btn-success">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}