{% extends "BatteryBackendBundle::base.html.twig" %}

{% block content -%}
    <h1>Consumer list</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>
                    <a href="{{ path('consumer_edit', { 'id': entity.id }) }}" class="btn btn-success btn-xs">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('consumer_new') }}" class="btn btn-success">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}